ul.folders {
  list-style-type: none;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(2, 1fr);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  user-drag: none;
  app-region: no-drag;
}
ul.folders > li.widget {
  grid-column: span 2;
  grid-row: span 3;
  border-radius: var(--border-radius);
  padding: var(--padding) calc(var(--padding) * 2);
  min-height: 30dvh;
  color: var(--widget-text-color);
  background-color: var(--widget-background-color);
}
ul.folders > li.widget.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  background: linear-gradient(180deg, var(--color-grey-600) 0%, var(--color-grey-700) 100%);
}
ul.folders > li.widget.intro .typewriter {
  display: none;
  position: relative;
}
ul.folders > li.widget.intro h3 {
  font-size: 2.5em;
  line-height: 1;
  max-width: 600px;
}
ul.folders > li.widget.intro h3 + p {
  font-size: 1.5em;
  line-height: 1.25;
  margin-top: 0.75em;
  max-width: 500px;
}
ul.folders > li.widget.intro p {
  color: var(--widget-subtitle-text-color);
}
ul.folders > li.folder {
  min-width: 0;
  max-width: 100%;
}
ul.folders > li.folder > a {
  text-decoration: none;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
ul.folders > li.folder > a > .name {
  background-color: var(--folder-name-background-color);
  color: var(--folder-name-text-color);
  padding: 2px var(--padding-small);
  font-size: 28px;
  margin-top: 0.333em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  box-shadow: var(--border-width) var(--border-width) 0px var(--shadow-color);
  border-radius: var(--border-radius);
}
ul.folders > li.folder > a > .icon {
  filter: grayscale(1);
  width: 100%;
  height: auto;
  user-drag: none;
  pointer-events: none;
  height: 100px;
}
ul.folders > li.folder > a:hover > .name {
  color: var(--folder-name-hover-text-color);
  background-color: var(--folder-name-hover-background-color);
}
ul.folders > li.folder > a:hover > .icon {
  transform: scale(1.025);
}
ul.folders > li.folder > a:focus > .name, ul.folders > li.folder > a.open > .name, ul.folders > li.folder > a:active > .name {
  outline: 2px dotted var(--folder-focus-outline-color);
}
ul.folders > li.folder > a:focus > .icon, ul.folders > li.folder > a.open > .icon, ul.folders > li.folder > a:active > .icon {
  transform: scale(1.025);
}
ul.folders > li.folder > a:focus-visible {
  outline: none;
}
ul.folders > li.folder > a:focus-visible > .name {
  outline-color: var(--color-neon-green);
}
@media (min-width: 600px) {
  ul.folders {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 900px) {
  ul.folders {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  ul.folders {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1600px) {
  ul.folders {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 900px) {
  ul.folders > li.widget {
    min-height: 50dvh;
  }
  ul.folders > li.widget.intro h3 {
    font-size: 2em;
  }
  ul.folders > li.widget.intro h3 + p {
    font-size: 1.25em;
  }
}

.folder {
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity 0.6s var(--easing), transform 0.6s var(--easing);
}
.folder.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

@media (max-width: 1024px) {
  ul.folders > li.folder > a > .name {
    font-size: 16px;
  }
}/*# sourceMappingURL=folders.css.map */