* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*:before,
*:after {
	box-sizing: inherit;
}


body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
}

body,
input,
textarea,
button,
select {
	font-family: "Space Mono", monospace;
	font-weight: 700;
	font-style: normal;
}


.shine {
	// SHINE!
	mask-image: linear-gradient(-75deg,
			rgba(0, 0, 0, .3) 30%,
			#000 50%,
			rgba(0, 0, 0, .3) 70%);
	mask-size: 200%;
	animation: shine 3s linear infinite;
}

@keyframes shine {
	from {
		mask-position: 150%;
	}

	to {
		mask-position: -50%;
	}
}

@keyframes shine-background {
	from {
		background-position: 150%;
	}

	to {
		background-position: -50%;
	}
}



.shine-inline {

    background: linear-gradient(
        -75deg,
        rgba(255, 255, 255, 0.3) 30%,
        rgba(255, 255, 255, 1) 50%,
        rgba(255, 255, 255, 0.3) 70%
    );
    background-size: 200%;
    background-clip: text;
    color: transparent;
    animation: shine-inline 3s linear infinite;
}

@keyframes shine-inline {
    from {
        background-position: 150%;
    }
    to {
        background-position: -50%;
    }
}











.typewriter {
    position: relative;
    
    .message {
        position: relative;
    }

    // Cursor styling
    .new-cursor {
        position: relative;
        display: inline;
        height: 1em;
        opacity: 0;
		width: 0;
        transition: opacity 0.3s ease;
        
        &:after {
            content: "█";
            animation: blink 0.7s infinite;
            position: absolute;
            left: .25em;
        }
        
        &.visible {
            opacity: 1;
        }
    }

    // Active typing state
    &.typing .new-cursor {
        animation: blink 0.5s infinite;
    }

    // Animation keyframes
    @keyframes blink {
        0%, 100% { opacity: 1; }
        50% { opacity: 0; }
    }


}











































.bolts {
	--bolt-margin: 10px;
	--bolt-size: 15px;
	--bolt-container-inner-margin: 10px;
	--bolt-container-margin-left: calc(var(--bolt-margin) * 1 + var(--bolt-size) + var(--bolt-container-inner-margin));
	--bolt-container-margin-top: var(--bolt-margin);
	--bolt-container-min-height: calc(var(--bolt-size) * 3);

	&.bolt-overlay {
		width: 100%;
		height: 100%;
		position: absolute;
	}

	position: relative;
	padding: var(--bolt-container-margin-top) var(--bolt-container-margin-left);

	/* Set four SVGs, one for each corner */
	background-image: url("../images/bolt_dark.svg"),
	url("../images/bolt_dark.svg"),
	url("../images/bolt_dark.svg"),
	url("../images/bolt_dark.svg");
	background-size: var(--bolt-size) var(--bolt-size);
	/* Adjust size as needed */
	background-repeat: no-repeat;
	min-height: var(--bolt-container-min-height);

	/* Offset each corner to add padding */
	background-position: var(--bolt-margin) var(--bolt-margin),
	/* Top-left */
	calc(100% - var(--bolt-margin)) var(--bolt-margin),
	/* Top-right */
	var(--bolt-margin) calc(100% - var(--bolt-margin)),
	/* Bottom-left */
	calc(100% - var(--bolt-margin)) calc(100% - var(--bolt-margin));
	/* Bottom-right */


}




.new-bolt {
	--bolt-margin: 20px;
	--bolt-size: 15px;
	--bolt-container-inner-margin: 20px;
	--bolt-container-margin-left: calc(var(--bolt-margin) * 1 + var(--bolt-size) + var(--bolt-container-inner-margin));
	--bolt-container-margin-top: var(--bolt-margin);
	--bolt-container-min-height: calc(var(--bolt-size) * 2 + var(--bolt-container-margin-top) * 2 + var(--bolt-container-inner-margin) * 2);

	min-height: var(--bolt-container-min-height);

	border-radius: var(--bolt-size);
	overflow: hidden;

	>.new-bolt-content {
		// padding: var(--bolt-container-margin-top) var(--bolt-container-margin-left);
		position: relative;
		z-index: 10000;
	}

	>.new-bolt-mask {
		// black = visible
		// white = transparent
		mask-image:
			url("../images/bolt_mask_white.svg"),
			url("../images/bolt_mask_white.svg"),
			url("../images/bolt_mask_white.svg"),
			url("../images/bolt_mask_white.svg"),
			linear-gradient(#000 0 0);

		mask-size:
			var(--bolt-size) var(--bolt-size),
			var(--bolt-size) var(--bolt-size),
			var(--bolt-size) var(--bolt-size),
			var(--bolt-size) var(--bolt-size),
			100% 100%;

		mask-repeat: no-repeat;

		mask-position:
			var(--bolt-margin) var(--bolt-margin),
			calc(100% - var(--bolt-margin)) var(--bolt-margin),
			var(--bolt-margin) calc(100% - var(--bolt-margin)),
			calc(100% - var(--bolt-margin)) calc(100% - var(--bolt-margin)),
			0 0;

		mask-composite: exclude;

		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;

	}
}