.talisman {
  overflow: hidden;
  aspect-ratio: 3/4;
}
.talisman img {
  -o-object-fit: cover !important;
     object-fit: cover !important;
  width: 100% !important;
  height: 100% !important;
  -webkit-mask-image: url("../images/talisman/talisman_1.svg");
          mask-image: url("../images/talisman/talisman_1.svg");
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
}
.talisman[data-talisman="1"] img {
  -webkit-mask-image: url("../images/talisman/talisman_1.svg");
          mask-image: url("../images/talisman/talisman_1.svg");
}
.talisman[data-talisman="2"] img {
  -webkit-mask-image: url("../images/talisman/talisman_2.svg");
          mask-image: url("../images/talisman/talisman_2.svg");
}
.talisman[data-talisman="3"] img {
  -webkit-mask-image: url("../images/talisman/talisman_3.svg");
          mask-image: url("../images/talisman/talisman_3.svg");
}
.talisman[data-talisman="4"] img {
  -webkit-mask-image: url("../images/talisman/talisman_4.svg");
          mask-image: url("../images/talisman/talisman_4.svg");
}
.talisman[data-talisman="5"] img {
  -webkit-mask-image: url("../images/talisman/talisman_5.svg");
          mask-image: url("../images/talisman/talisman_5.svg");
}
.talisman[data-talisman="6"] img {
  -webkit-mask-image: url("../images/talisman/talisman_6.svg");
          mask-image: url("../images/talisman/talisman_6.svg");
}
.talisman[data-talisman="7"] img {
  -webkit-mask-image: url("../images/talisman/talisman_7.svg");
          mask-image: url("../images/talisman/talisman_7.svg");
}
.talisman[data-talisman="8"] img {
  -webkit-mask-image: url("../images/talisman/talisman_8.svg");
          mask-image: url("../images/talisman/talisman_8.svg");
}
.talisman[data-talisman="9"] img {
  -webkit-mask-image: url("../images/talisman/talisman_9.svg");
          mask-image: url("../images/talisman/talisman_9.svg");
}
.talisman[data-talisman="10"] img {
  -webkit-mask-image: url("../images/talisman/talisman_10.svg");
          mask-image: url("../images/talisman/talisman_10.svg");
}
.talisman[data-talisman="11"] img {
  -webkit-mask-image: url("../images/talisman/talisman_11.svg");
          mask-image: url("../images/talisman/talisman_11.svg");
}
.talisman[data-talisman="12"] img {
  -webkit-mask-image: url("../images/talisman/talisman_12.svg");
          mask-image: url("../images/talisman/talisman_12.svg");
}
.talisman[data-talisman="13"] img {
  -webkit-mask-image: url("../images/talisman/talisman_13.svg");
          mask-image: url("../images/talisman/talisman_13.svg");
}
.talisman[data-talisman="14"] img {
  -webkit-mask-image: url("../images/talisman/talisman_14.svg");
          mask-image: url("../images/talisman/talisman_14.svg");
}
.talisman[data-talisman="15"] img {
  -webkit-mask-image: url("../images/talisman/talisman_15.svg");
          mask-image: url("../images/talisman/talisman_15.svg");
}
.talisman[data-talisman="16"] img {
  -webkit-mask-image: url("../images/talisman/talisman_16.svg");
          mask-image: url("../images/talisman/talisman_16.svg");
}
.talisman.stretched-mask {
  aspect-ratio: unset;
}
.talisman.stretched-mask img {
  width: auto;
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=talisman.css.map */